<div class="top-clips">
    <div class="video-container" *ngFor="let clip of topclips">
        <div class="video-overlay"></div>
        <div class="content-details">
            <div class="live-count">
                <mat-icon class="eyeicon">visibility</mat-icon>
                <div class="live-count-text">{{clip.viewCount}}</div>
            </div>
            <mat-icon class="play-icon">play_circle</mat-icon>
        </div>
        <img [src]="clip.thumbnailUrl" class="video" alt="clip.name">
        <div class="item">
            <img [src]="clip.logo" class="logo" alt="clip.name">
            <div class="text-container">
                <div class="name">{{clip.name}}</div>
                <div class="gamename">{{clip.gamename}}</div>
            </div>
        </div>
    </div>
</div>