<div class="container">

    <div class="live-section">
        <app-live></app-live> <!-- Live component-->
    </div>

    <div class="suggested">
        <div class="title">
            Suggested Live Now
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="suggested-live-section">
            <app-suggested-live></app-suggested-live> <!-- Suggested Live component-->
        </div>
    </div>

    <div class="popular">
        <div class="title">
            Popular Games to Watch
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="popular-games-section">
            <app-popular-games></app-popular-games>
        </div>
    </div>

    <div class="suggested-tournament">
        <div class="title">
            Suggested Tournament
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="suggested-tournament-section">
            <app-suggested-tournament></app-suggested-tournament>
        </div>
    </div>

    <div class="topclips">
        <div class="title">
            Top Clips
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="topclips-section">
            <app-top-clips></app-top-clips> <!-- Top Clipd component-->
        </div>
    </div>

    <div class="newandrising">
        <div class="title">
            New and Rising Games
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="newandrising-games-section">
            <app-newandrising-games></app-newandrising-games>
        </div>
    </div>

    <div class="suggested-games">
        <div class="title">
            Suggested Games
        </div>
        <div class="see-all">
            See All
        </div>
        <br><br>
        <div class="suggested-games-section">
            <app-suggested-games></app-suggested-games>
        </div>
    </div>
    <br><br><br><br>
</div>